<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test bot hoa hoc (TSF)</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    {{!-- <script id="63af683800728e603c49120e" src="https://dashboard.chatfuel.com/integration/fb-entry-point.js" async defer></script> --}}
    <script id="63af72d97672e734818fab18" src="https://dashboard.chatfuel.com/integration/fb-entry-point.js" async defer></script>
</head>
<body>
    <div class="wrapper">
        </div>
</body>
</html>