<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="./stylesheets/style.css" />
	</head>
	<body>
		<div class="wrapper">
			<div class="changePassword">
                <h3>Hi, {{username}}</h3>
                <h2>Change password</h2>
				<form action="/" method="post">
					<input name="typeOfForm" value="changePassword" hidden />
					<label for="">Old password</label>
					<input type="password" name="oldPass" id="" />
					<br />
					<label for="">New password</label>
					<input type="password" name="newPassword" />
					<br />
					<label for="">Confirm password</label>
					<input type="password" name="confirmPassword" />
					<br />
					<button type="submit">Change</button>
                    <br>
				</form>
					<button onclick="logout()">Logout</button>
			</div>
			<div class="changeCharName">
				<h4 class="beta">(Note: after renaming will lose friends from them and no longer stay in the current clan.)</h4>
				<h4 class="beta">The above limitations will be fixed later.</h4>
				<h4 class="beta">Please logout your game before rename.</h4>
				<h2>Change ninja name</h2>
				<form action="/" method="post">
					<input name="typeOfForm" value="changeCharName" hidden />
					<label for="">Old ninja name</label>
					<input type="text" name="oldCharName" value="{{njname}}" disabled/>
					<br />
					<label for="">New ninja name</label>
					<input type="text" name="newCharName" />
					<br />
					<button type="submit">Change</button>
                    <br>
				</form>
				<button><a href="/items">Items list</a></button>
				<button><a href="/console">Console</a></button>
			</div>
		</div>
		<script src="/js/main.js"></script>
		<script>let msg = "{{ msg }}";
            if(msg !==""){
                 alert(msg);
            }
        </script>
	</body>
</html>;
